@charset "UTF-8";
.main {
  background-color: #D9D9D9;
}

.Header {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header__img {
  position: absolute;
  z-index: -1;
  height: 960px;
  width: 100%;
}
.Header__logo {
  z-index: 1;
  position: absolute;
  left: 69px;
  top: 69px;
}
.Header__inputLabel {
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.Header__inputLabel__slogan {
  color: #FFD15B;
  font-size: 44px;
  font-family: Anton;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin-left: -70px;
}
.Header__inputLabel__finder {
  display: flex;
  height: 72px;
  align-items: center;
}
.Header__inputLabel__finder__input {
  height: 100%;
  width: 954px;
}
.Header__inputLabel__finder__button {
  height: 51px;
  width: 52px;
}
.Header__inputLabel__finder__button__img {
  margin-left: -70px;
  height: 100%;
  width: 51px;
}

.finders {
  display: flex;
  gap: 5rem;
  padding-top: 3rem;
  padding-left: 104px;
  display: flex;
}
.finders__option {
  display: flex;
  flex-direction: column;
}
.finders__option.active .title {
  display: none;
}
.finders__option.active .content {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.finders__option.active .content .header {
  height: 100px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finders__option.active .content .header__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 195px;
  height: 56px;
}
.finders__option.active .content .header__finder {
  padding-block: 2px;
  padding-inline: 8px;
}
.finders__option.active .content .header__finder .fa-magnifying-glass {
  position: relative;
  right: 25px;
  font-size: 14px;
}
.finders__option.active .content .header__finder .input {
  padding-inline: 3px;
}
.finders__option.active .content .header__selected {
  width: 100%;
}
.finders__option.active .content .header__selected__element {
  background-color: #FFD15B;
  width: 100%;
}
.finders__option .tags {
  display: block;
}
.finders__option .tags__tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 203px;
  height: 53px;
  background-color: #FFD15B;
  border-radius: 10px;
  padding: 17px, 18px, 17px, 18px;
  gap: 60px;
}
.finders__recipesTotal {
  width: 97px;
  height: 32px;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: solid black;
  height: 56px;
  width: 179px;
  /* Appliquer les styles lorsque .finders__ingrédients est activé */
}

.content {
  display: none;
  /* Afficher le contenu lorsque .finders__ingrédients est activé */
}

.tags {
  display: flex;
  gap: 1rem;
}
.tags__tagDiv {
  display: flex;
  flex-direction: column;
}
.tags__tagDiv__tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 203px;
  height: 53px;
  background-color: #FFD15B;
  border-radius: 10px;
  padding: 17px, 18px, 17px, 18px;
  gap: 60px;
}

.recette {
  margin: 3rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.recetteContainer {
  position: relative;
  background-color: white;
  width: 380px;
  height: 731px;
}
.recetteContainer h3 {
  font-weight: 700px;
  font-size: 12px;
  line-height: 16.39px;
  color: #7a7a7a;
  /*letter 9%?*/
}
.recetteContainer__imageRecette {
  width: 380px;
  height: 253px;
}
.recetteContainer__detail {
  margin: 25px;
}
.recetteContainer__detail__title {
  font-family: Anton;
  font-weight: 400;
  font-size: 18px;
  line-height: 27, 1px;
}
.recetteContainer__detail__time {
  display: flex;
  background-color: #ffd15b;
  position: absolute;
  top: 21px;
  left: 252px;
  width: 65px;
  height: 26px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}
.recetteContainer__detail__recepeSection__recepe {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  color: black;
}
.recetteContainer__detail__ingredientsSection__ingredients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.recetteContainer__detail__ingredientsSection__ingredients__nameQuantity {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 50%;
}
.recetteContainer__detail__ingredientsSection__ingredients__nameQuantity__name {
  margin-block: 0;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
}
.recetteContainer__detail__ingredientsSection__ingredients__nameQuantity__quantity {
  margin-block: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  color: #7a7a7a;
}/*# sourceMappingURL=styles.css.map */