@charset "UTF-8";
.main {
  background-color: #D9D9D9;
  font-family: "Manrope", sans-serif;
}

.Header {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header__img {
  position: absolute;
  z-index: -1;
  height: 960px;
  width: -webkit-fill-available;
  margin-left: 8px;
  margin-right: 8px;
}
.Header__logo {
  z-index: 1;
  position: absolute;
  left: 69px;
  top: 69px;
}
.Header__inputLabel {
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.Header__inputLabel__slogan {
  color: #FFD15B;
  font-size: 44px;
  font-family: Anton;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin-left: -70px;
}
.Header__inputLabel__finder {
  display: flex;
  height: 72px;
  align-items: center;
  position: relative;
}
.Header__inputLabel__finder__input {
  border-radius: 11px;
  height: 72px;
  width: 954px;
  padding-left: 35px;
  color: var(--Grey, #7A7A7A);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Header__inputLabel__finder__button {
  height: 51px;
  width: 52px;
  position: absolute;
  right: 10px;
  border-radius: 10px;
  background: var(--Black, #1B1B1B);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header__inputLabel__finder__button:hover {
  background-color: #FFD15B;
  color: black;
}
.Header__inputLabel__finder__button:hover svg > * {
  stroke: black;
}
.Header__inputLabel__finder__closeCross {
  position: absolute;
  left: 856px;
}

#ingredientFinder {
  left: 104px;
}

#appareilFinder {
  left: 365px;
}

#ustensileFinder {
  left: 608px;
}

.finders {
  display: flex;
  gap: 5rem;
  padding-top: 3rem;
  padding-left: 104px;
}
.finders__option {
  display: flex;
  flex-direction: column;
}
.finders__option .title {
  display: inline-flex;
  padding: 17px 16px;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  background: #fff;
  /* Appliquer les styles lorsque .finders__ingrédients est activé */
}
.finders__option .open {
  display: none;
  /* Afficher le contenu lorsque .finders__ingrédients est activé */
}
.finders__option.active {
  border-radius: 11px;
}
.finders__option.active .open {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  height: 315px;
  border-radius: 11px;
  width: -moz-min-content;
  width: min-content;
}
.finders__option.active .open p:hover {
  background-color: #ffd15b;
}
.finders__option.active .open .header {
  position: relative;
}
.finders__option.active .open .header__finder {
  width: 195px;
  height: 100px;
}
.finders__option.active .open .header__finder__title {
  border-radius: 11px;
  background: #fff;
  position: absolute;
  left: 16px;
  top: 17px;
  display: flex;
  gap: 63px;
}
.finders__option.active .open .header__finder__input {
  position: absolute;
  left: 16px;
  top: 53px;
  padding-inline: 3px;
  width: 163px;
  height: 36px;
}
.finders__option.active .open .header__finder .fa-magnifying-glass {
  position: absolute;
  left: 154px;
  top: 64px;
  font-size: 14px;
}
.finders__option.active .open .header__finder .crossFinderDiv {
  width: 6px;
  stroke-width: 1px;
  stroke: var(--Grey, #7A7A7A);
  height: 6px;
  flex-shrink: 0;
  position: absolute;
  left: 138px;
  top: 68px;
}
.finders__option.active .open .header__selected {
  width: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.finders__option.active .open .header__selected__element {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffd15b;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.finders__option.active .open .header__selected__element > .closeCrossFinder {
  opacity: 0;
}
.finders__option.active .open .header__selected__element:hover {
  font-weight: bolder;
}
.finders__option.active .open .header__selected__element:hover > .closeCrossFinder {
  opacity: 1;
}
.finders__option.active .open .header__selected__element:hover > i {
  opacity: 1;
}
.finders__option.active .open .content {
  display: inline-flex;
  flex-direction: column;
  flex-direction: auto;
  overflow: auto;
  scroll-snap-align: start;
}
.finders__option.active .open .content p {
  padding-left: 16px;
  display: inline-block;
  margin-block: 0;
  padding-block: 5px;
}
.finders__recipesTotal {
  font-family: Anton;
  position: absolute;
  right: 60px;
  width: 97px;
  height: 32px;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
}

.tags {
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.tags__tagDiv {
  display: flex;
  flex-direction: column;
}
.tags__tagDiv__tag {
  display: inline-flex;
  background-color: #ffd15b;
  border-radius: 10px;
  padding: 17px 18px;
  align-items: center;
  gap: 60px;
  width: -moz-min-content;
  width: min-content;
  margin-block: 0;
}
.tags__tagDiv__tag p {
  margin-block: 0;
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-wrap: nowrap;
}

.header__selected__element:hover > i {
  opacity: 1;
}

.recette {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  flex-wrap: wrap;
}

.recetteContainer {
  position: relative;
  border-radius: 21px 21px 21px 21px;
  background-color: white;
  width: auto;
}
.recetteContainer h2 {
  font-family: "Anton";
  font-size: 18px;
}
.recetteContainer h3 {
  font-size: 12px;
  line-height: 16.39px;
  color: #7a7a7a;
  /*letter 9%?*/
}
.recetteContainer__imageRecette {
  border-radius: 21px 21px 0 0;
  width: 100%;
  height: 253px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recetteContainer__detail {
  margin: 25px;
}
.recetteContainer__detail__title {
  font-family: Anton;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.recetteContainer__detail__time {
  display: flex;
  background-color: #ffd15b;
  position: absolute;
  top: 21px;
  right: 2rem;
  width: 65px;
  height: 26px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}
.recetteContainer__detail__recepeSection__recepe {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  color: black;
}
.recetteContainer__detail__ingredientsSection__ingredients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.recetteContainer__detail__ingredientsSection__ingredients__nameQuantity {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 50%;
}
.recetteContainer__detail__ingredientsSection__ingredients__nameQuantity__name {
  margin-block: 0;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
}
.recetteContainer__detail__ingredientsSection__ingredients__nameQuantity__quantity {
  margin-block: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  color: #7a7a7a;
}/*# sourceMappingURL=styles.css.map */