$grey: #7a7a7a;
.recette {
  margin: 3rem;
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  flex-wrap: wrap;
}
.recetteContainer {
  position: relative;
  border-radius: 21px 21px 0 0;
  h2{
    font-family: 'Anton';
    font-size: 18px;

  }

  h3 {

    font-size: 12px;
    line-height: 16.39px;
    color: $grey;
    /*letter 9%?*/
  }
  background-color: white;
  width: auto;


  &__imageRecette {
    border-radius: 21px 21px 0 0;
    width: 100%;
    height: 253px;

  }
  &__detail {
    margin:25px;
    &__title {
      font-family: Anton;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color:red;
    }
    &__time {
      display: flex;
      background-color: #ffd15b;
      position: absolute;
      top: 21px;
      right: 2rem;
      width: 65px;
      height: 26px;
      border-radius: 14px;
      justify-content: center;
      align-items: center;
    }
    &__recepeSection {


      &__title {
font-weight: bold;
      }
      &__recepe {

        font-weight: 400;
        font-size: 14px;
        line-height: 19.12px;
        color: black;
      }
    }
    &__ingredientsSection {


      &__ingredients {
        width: 100%;

        display: flex;

        flex-wrap: wrap;

        &__nameQuantity {
          display: flex;
          flex-direction: column;
          padding-bottom: 1rem;

          width: 50%;

          &__name {
            margin-block: 0;
            color: black;
            font-weight: 500;
            font-size: 14px;
            line-height: 19.12px;
          }
          &__quantity {
            margin-block: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 19.12px;
            color: $grey;
          }
        }
      }
    }
  }
}
