@charset "UTF-8";
.finders {
  position: relative;
  display: flex;
  gap: 5rem;
  padding-top: 3rem;
  padding-left: 104px;
}
.finders__option {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 179px;
}
.finders__option.active .title {
  display: none;
}
.finders__option.active .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 2rem;
  z-index: 1;
  height: 24rem;
  scroll-snap-align: start;
  overflow: auto;
}
.finders__option.active .content .header {
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.finders__option.active .content .header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 195px;
  height: 56px;
  gap: 4rem;
}
.finders__option.active .content .header__finder {
  padding-block: 2px;
  padding-inline: 0px;
}
.finders__option.active .content .header__finder .fa-magnifying-glass {
  position: relative;
  right: 25px;
  font-size: 14px;
}
.finders__option.active .content .header__finder .input {
  padding-inline: 3px;
}
.finders__option.active .content .header__selected {
  width: 100%;
  margin-left: -2rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.finders__option.active .content .header__selected__element {
  margin: 0;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFD15B;
  width: 100%;
}
.finders__option.active .content .header__selected__element > i {
  opacity: 0;
}
.finders__option.active .content .header__selected__element:hover {
  font-weight: bolder;
}
.finders__option.active .content .header__selected__element:hover > i {
  opacity: 1;
  padding-right: 20%;
}
.finders__option .tags {
  display: block;
}
.finders__option .tags__tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 203px;
  height: 53px;
  background-color: #FFD15B;
  border-radius: 10px;
  padding: 17px 18px 17px 18px;
  gap: 60px;
}
.finders__recipesTotal {
  font-family: Anton;
  position: absolute;
  right: 60px;
  width: 97px;
  height: 32px;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
}
.finders__content p {
  margin-block: 0;
  padding-block: 5px;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: solid black;
  height: 56px;
  width: 179px;
  /* Appliquer les styles lorsque .finders__ingrédients est activé */
}

.content {
  display: none;
  /* Afficher le contenu lorsque .finders__ingrédients est activé */
}

.tags {
  display: flex;
  gap: 1rem;
}
.tags__tagDiv {
  display: flex;
  flex-direction: column;
}
.tags__tagDiv__tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 203px;
  height: 53px;
  background-color: #FFD15B;
  border-radius: 10px;
  padding: 17px 18px 17px 18px;
  gap: 60px;
}

.header__selected__element:hover > i {
  opacity: 1;
}/*# sourceMappingURL=finder.css.map */