.finders {
    position: relative;
    display: flex;
    gap: 5rem;
    padding-top: 3rem;
    padding-left: 104px;
    display: flex;
  
    &__option {
        display:flex;
        flex-direction: column;
      &.active {
      .title {
          display: none;
        }
  
            .content {
            display: flex;
            flex-direction: column;
            background-color:white;
            padding-left:2rem;

            .header{
            height:100px;
            width:195px;
            display:flex;
            flex-direction: column;

            align-items: flex-start;
           
            &__title{
                display:flex;
                justify-content: flex-start;
                align-items: center;
                width:195px;
                height:56px;  
                gap:4rem;
            }
            &__finder{
                padding-block: 2px;
            
                padding-inline: 0px;
               .fa-magnifying-glass{
                position: relative;
                right: 25px;
                font-size: 14px;
               }
               .input{
                padding-inline: 3px;
               }
            }
            &__selected{
            width: 100%;
            margin-left:-2rem;
              &__element{ 
                padding-left: 2rem;
                display:flex;
                justify-content: space-around;
                background-color: #FFD15B;
                width: 100%;
                &>i{
                  opacity: 0;
                }
                &:hover{
                  font-weight: bolder;
           
                  &>i{
                    opacity: 1;
                  }
                }
              }
            }

            }
            }
      }
      .tags{
        display:block;
     
      
      
      
          &__tag{
            display:flex;
            justify-content: space-around;
            align-items: center;
            width:203px;
            height: 53px;
            background-color: #FFD15B;
            border-radius: 10px;
            padding:17px, 18px, 17px, 18px;
            gap:60px;
          }
        }
      
      }
      &__recipesTotal{
        font-family: Anton;
        position:absolute;
        left:1223px;
      
width:97px;
height:32px;
font-weight: 400;
font-size: 21px;
line-height: 31.61px;
      }

    }
  

.title {
display:flex;
justify-content: space-around;
align-items: center;
background-color: white;
border:solid black;
height: 56px;
width: 179px;

/* Appliquer les styles lorsque .finders__ingrédients est activé */


}

.content {

display: none;

/* Afficher le contenu lorsque .finders__ingrédients est activé */

}

.tags{
  display:flex;
  gap:1rem;

  &__tagDiv{
    display: flex;
    flex-direction: column;

    &__tag{
      display:flex;
      justify-content: space-around;
      align-items: center;
      width:203px;
      height: 53px;
      background-color: #FFD15B;
      border-radius: 10px;
      padding:17px, 18px, 17px, 18px;
      gap:60px;
    }
  }

}
 .header__selected__element:hover>i{
  opacity: 1;
}